.base-container {
  padding-top: 90px;
  padding-bottom: 90px;

  .title {
    line-height: 34px;
    margin-bottom: 55px;
  }
}

.image-separator {
  display: block;
  overflow: hidden;
  position: relative;
  height: 380px;
  width: 100%;
  z-index: 1;

  img {
    width: 100%;
  }

  &.image-separator-lg {
    height: 500px;
  }

  .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
}

a.image-separator {
  &:before {
    content: "";
    background-color: black;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.22s ease-in;
  }

  &:hover {
    &:before {
      opacity: 0.35;
    }
  }
}

.full-cta-btn {
  background-color: $brand-primary;
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 95px;

  .btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;    
  }
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.main {
  background-color: #fff8f9;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: $screen-xs-max) {
  .base-container {
    padding: 45px 15px;

    .title {
      margin-bottom: 45px;
      line-height: 30px;
    }
  }

  .image-separator {
    height: 250px;

    &.image-separator-lg {
      height: 250px;
    }
  }

  .main {
    margin-top: 65px;
  }

  .full-cta-btn {
    height: 60px;
  }
}
