.gallery-cover {
  position: relative;
  height: $gallery-cover-height;

  .title {
    color: white;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 80%;
    z-index: 2;
  }

  .gallery-cover-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &:after, &:before {
      content: "";
      background-color: white;
      position: absolute;
      opacity: 0.45;
      top: 0;
      width: 1px;
      height: 100%;
      z-index: 2;
    }

    &:after {
      right: 9px;
    }

    &:before {
      left: 9px;
    }

    .gallery-cover-image-overlay {
      background-color: black;
      opacity: 0.15;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

.gallery-description {
  color: white;
  text-align: center;
  padding: 0 9px 9px;
  width: 100%;

  .gallery-description-inner {
    border-left: 1px solid rgba(white, 0.8);
    border-right: 1px solid rgba(white, 0.8);
    border-bottom: 1px solid rgba(white, 0.8);
    padding: 48px 45px 38px;
    width: 100%;
    height: 100%;
  }
}

.gallery-main {
  .base-container {
    padding-top: 56px;
    padding-bottom: 56px;

    .title {
      margin-bottom: 28px;
    }
  }
}

.gallery-photos-wrapper {
  .gallery-photo {
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    margin: 6px 0;
    height: 0;
    padding-bottom: 21.5%;
    position: relative;

    .gallery-photo-inner {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
    }

    a {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }
  }
}

 .icons-wrapper {
  line-height: 1;

  &:after {
    content: "";
    background-color: white;
    display: block;
    position: relative;
    margin: 19px auto 27px;
    height: 2px;
    width: 30px;
  }

  .icon {
    font-size: 25px;
    padding: 0 10px;
    line-height: 1;
  }
}

.description-wrapper {
  font-size: 18px;
  line-height: 24px;
}

.filters-button-group {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;

  .button {
    display: inline-block;
    cursor: pointer;
    color: $text-color;
    font-family: "ADAMCGPRO", sans-serif;
    font-size: 14px;
    user-select: none;
    padding: 5px;
    margin: 0 9px;

    &:hover {
      color: inherit;
    }

    .icon {
      color: $text-color;
      font-size: 26px;
      margin-bottom: 0;
      margin-right: 10px;
    }

    span {
      position: relative;
      top: -2px;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .gallery-main {
    .base-container {
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }

  .gallery-cover {
    height: 200px;

    .title {
      top: 51.5%;
    }

    .gallery-cover-image {
      .gallery-cover-image-overlay {
        opacity: 0.45;
      }
    }
  }

  .gallery-description {
    .gallery-description-inner {
      padding: 30px 10px 25px;
    }
  }

  .icons-wrapper {
    &:after {
      margin: 17px auto 19px;
    }

    .icon {
      font-size: 23px;
      padding: 0 5px;
    }
  }

  .gallery-photos-wrapper .gallery-photo {
    padding-bottom: 35%;
  }

  .filters-button-group {
    margin-bottom: 20px;
  }
}
